<div class=" lg:px-8">
  <div class="mx-auto max-w-xl lg:mx-0">
    <h1 class="mt-10 flex items-center font-semibold leading-6 text-brand">
      Phoenix Framework
    </h1>
    <p class="mt-4 text-[2rem] font-semibold leading-10 tracking-tighter text-zinc-900">
      Peace of mind from prototype to production.
    </p>
  </div>

</div>
